#header {
    text-align:center;
    background-color: lightgrey;
    margin: 0px;
}
.container {
    padding: 20px;
    background-color: lightgrey; 
    display: flex;   
    flex-direction: column;
    gap: 20px;
    
}
.row {
    
    background-color: lightcyan;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
}
.row2 {
    
    background-color: lightskyblue;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.row3 {
    
    background-color: lightseagreen;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
p {
    text-align: center;
}
img {
    max-height: 200px;
}